main {
  margin-top: 7.5rem;
  height: calc(100vh - 5rem);
}
.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TopPart {
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.Options {
  padding-top: 5rem;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.Option {
  width: 25rem;
  height: 10rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;

  border: none;
  background: var(--BG-variant);
  cursor: pointer;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
