main{
    margin-top: 7.5rem;
    height: calc(100vh - 5rem);
}
.quizContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TopPart{
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center ;
    justify-content: space-evenly;
}

.Valg{
    padding-top: 5rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    justify-content: space-evenly;
}

.alternativ{
    width: 25rem;
    height: 10rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;


    border: none;
    background: var(--BG-variant);
    cursor: pointer;
}

