.cell {
  height: 75px;
  width: 75px;
  border: solid 2px;
  box-shadow: 0 0 0 2px;
  font-size: 50px;
  cursor: pointer;
  color: var(--Text-Color);
}
#game {
  text-align: center;
}

#CellContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 225px;
  height: 225px;
  margin: auto;
}
