body{
    background-color: black;
}


.card{
    margin: 25vh auto;
    width: 300px;
    padding: 2em;
    background-color: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    color: white;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


.card::after,.card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent , blue, red, blue, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    padding: 3px;
    animation: 5s spin linear infinite;
}

.card::before{
    filter: blur(1.5rem);
}

@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}